body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration:none;
}
img{
	border:none;
}
body{
	font-family: "微软雅黑";
	/*overflow: hidden; */ /*解决idx_story高度塌陷*/
}
/*header*/
.header{
	/*width: 1349px;*/
	height: 60px;
	display: flex;
}
.logo{
	width: 237px;
	height: 60px;
}
.logo a{
	padding-left: 71px;
	width: 120px;
}
.menu{
	width: 559px;
	height: 60px;
}
#header .menu a{
	float: left;
	width: 85px;
	height: 60px;
	font-size: 15px;
	color: #555555;
	text-align: center;
	line-height: 60px;
	text-decoration: none;
}
.menu .firstA{
	background-color: #e2001a;
	color: white; 
}
.menu a:hover{
	background-color: #e2001a;
	color: white;
	text-decoration: none;
}
.search{
	width: 267px;
	background-color: #eeeeee;
}
.search input{
	margin-top: 19px;
	padding-left: 8px;
	font-size: 15px;
	border: none;
	background-color: #eeeeee;
}
.search a{
	float: right;
}
.userLogout a{
	padding-left: 20px;
	display: block;
	width: 219px;
	text-align: center;
	line-height: 60px;
	color: #555555;
	font-size: 15px;
	text-decoration: none;
}


/* headerBox */
/* .headerBox{
    width: 100%;
} */
#headBox #menu2{
    display: block;
    width: 700px;
    height: 60px;
    margin: 0 auto;
}
#headBox #menu2 a{
    box-sizing: border-box;
    display: block;
    width: 120px;
    color: #555555;
    font-size: 14px;
    text-align: center;
    line-height: 60px;
    float: left;
}
#menu2 a:hover{
    border-bottom: 6px solid red;
}



/*copyright*/
.copyright{
	height: 100px;
	background-color: #555555;
}
.copyright .inner{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	position: relative;
}
.jzDiv{
	width: 627px;
	height: 80px;
	margin: auto;
	padding-top: 10px;
}
.copyright a{
	color: white;
	font-size: 12px;
	text-decoration: none;
}
.footH{
	text-align: center;
}
.icon a img{
	display: block;
	width: 30px;
	height: 40px;
	margin: 0 auto;
}