body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
ul,ol,li{
	list-style: none;
}
p{
	display: block;
}
a{
	text-decoration:none;
}
img{
	border:none;
}
body{
	position: relative;
	font-family: "微软雅黑";
	/*overflow: hidden; */ /*解决idx_story高度塌陷*/
}
html,body {
    min-height: 100%;
    font-size:12px; 
    color:#555;
}
@media only screen and (min-width:1200px) and (max-width:1400px){
html,body{font-size:14px;}
}
@media only screen and (min-width:1400px) and (max-width:1600px){
html,body{font-size:15px;}
}
@media only screen and (min-width:1600px){
html,body{font-size:16px;}
}

/*header*/
#header{
	width: 100%;
	height: 60px;
	background:white;
}
.headMain{
	display: flex;
}
.logo{
	width: 237px;
	height: 60px;
}
.logo a{
	padding-left: 71px;
	width: 120px;
}
.menu{
	width: 559px;
	height: 60px;
}
.menu a{
	float: left;
	width: 85px;
	height: 60px;
	font-size: 15px;
	color: #555555;
	text-align: center;
	line-height: 60px;
}
.menu .firstA{
	background-color: #e2001a;
	color: white; 
}
.menu a:hover{
	background: #e2001a;
	color: white;
	text-decoration: none;
}
.search{
	width: 267px;
	background-color: #eeeeee;
}
.search input{
	margin-top: 19px;
	padding-left: 8px;
	font-size: 15px;
	border: none;
	background-color: #eeeeee;
}
.search a{
	float: right;
}
.userLogout a{
	padding-left: 20px;
	display: block;
	width: 219px;
	text-align: center;
	line-height: 60px;
	color: #555555;
	font-size: 15px;
	text-decoration: none;
}
/*index_gif*/
.index_gif{
	position: relative;
}
.index_gif img{
	width: 1349px;
	height: 422px;
}
.in_border{
	position: absolute;
	left: 254px;
	top: 26px;
}
.in_border .outerbox{
	width: 324px;
    height: 191px;
	/* background:red; */
	position: absolute;
	/* top: 100px;
	left: 100px; */
	margin: 0 auto;
	border: 3px solid #fff8ee;
	background: rgba(0,0,180,0);
}
.in_border .info{
	position: absolute; /* 相对于有父类定位属性的元素*/
	left: 8px;
	top: 8px;
	width: 300px;
	height: 167px;
	background-color: #fff8ee;
	/* border: 8px solid rgba(123,137,78,0.5); */
}
.info .words{
	padding-top: 16px;
	color: #6f6e6c;
	font-size: 24px;
	text-align: center;
	line-height: 40px;
} 
.in_border .more{
	position: absolute;
	left: 54px;
	top: 225px;
	display: block;
	width: 220px;
	height: 60px;
	background-color: #e2001a;
	font-size: 23px;
	color: white;
	border-radius: 30px;
	line-height: 60px;
	text-align-last: center;
	text-decoration: none;
}
/*goods*/
.idx_goods .list{
	float: left;
	position: relative;
	overflow: hidden;  /*盒子溢出隐藏*/
}
/*因为上一个盒子goods的list元素浮动，
使story元素高度塌陷解决高度塌陷的方法*/
.idx_goods:after{  
	content: " ";
	display: block;
	clear: both;
	/*height: 0;
	overflow: hidden;
	visibility: hidden; 前三个属性已经可以解决高度塌陷问题了*/
}
.list img{
	width: 337.25px;
	height: 337.25px;
}
.list .hover{
	width: 337.25px;
	height: 337.25px;
	background-color: #4b7abc; 
	text-align: center;
	opacity: 0.9;
	position: absolute;
	left: 0;
	top: 0;
	transform: translateX(-100%);  /*向左偏移*/
	transition: all .5s;
}
.list:hover .hover{
	transform: translateX(0);  /*动画效果*/
}
.l2 .hover{
	background-color: #a5ba30;
}
.l3 .hover{
	background-color: #524c46;
} 
.l4 .hover{
	background-color: #8cbfb1;
}
.l5 .hover{
	background-color: #e3b933;
} 
.l6 .hover{
	background-color: #d06f6c;
} 
.l7 .hover{
	background-color: #c3a88c;
}
.l8 .hover{
	background-color: #9c2727;
}   
.hover .title{
	font-size: 22px;
	color: #f6f8fb;
	line-height: 37px;
	padding-top: 80px;
}
.hover .infos{
	font-size: 18px;
	color: #e8ecf2;
	line-height: 105px;
	padding-bottom: 15px;
}
.hover a{
	display: block;
	width: 105px;
	height: 25px;
	background-color: white;
	font-size: 16px;
	color: #555555;
	margin-left: 117px;
	border-radius: 12.5px;
	/* vertical-align: middle; */
	padding: 2px;
	text-decoration: none;
}
.hover a:hover{
	background-color: #58585a;
	color: white;
}
/*story*/
.idx_story{
	width: 1200px;
	height: 602px;
	/*background: pink;*/
	margin: 0 auto;
}
.idx_story .title{
	font-size: 30px;
	color: #e2001a;
	line-height: 73px;
	text-align: center;
	padding-top: 20px;
}
.st_box a{
	float: left;
	position: relative;
	padding-bottom: 2.5rem;
}
.st_box p{
	position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: 6%;
    font-size: 18px;
    color: #555555;
}
/*footer*/
.footer{
	height: 385px;
}
.footer .fnav{
	/*width: 1200px;*/
	height: 285px;
	margin: 0 auto;
	background-color: #c8c8c8;
}
.fnav .inner{
	width: 800px;
	height: 250px;
	margin: 0 auto;
}
.navs{
	width: 160px;
	height: 160px;
	float: left;
	line-height: 28px;
	padding-top: 26px;
}
.navs a{
	text-decoration: none;
	color: #555555;
}
.navs .title{
	color: #555555;
	font-weight: bold;
	font-size: 18px;
	line-height: 36px;
}
.service{
	float: left;
	padding-top: 20px;
}
.service .ttl{
	width: 117px;
	height: 33px;
	font-size: 16px;
	color: white;
	background-color: #e2001a;
	border-radius: 16px;
	text-align: center;
	padding: 4px;
}
.service .phone{
	color: #333333;
	font-weight: bold;
	line-height: 30px;
}
/*copyright*/
.copyright{
	height: 100px;
	background-color: #555555;
}
.copyright .inner{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	position: relative;
}
.jzDiv{
	width: 627px;
	height: 80px;
	margin: auto;
	padding-top: 10px;
}
.copyright a{
	color: white;
	font-size: 12px;
	text-decoration: none;
}
.footH{
	text-align: center;
}
.icon a img{
	display: block;
	width: 30px;
	height: 40px;
	margin: 0 auto;
}
/*links*/
.links{
	position:fixed; 
	right:0; 
	top:50%; 
	width:60px; 
	margin-top:-120px; 
	background:#fff; 
	z-index:60;
}
.links .close{width:60px; 
	height:60px; 
	background:#58585a; 
	cursor:pointer; 
	overflow:hidden;
}
.links .close img{ 
	margin:5px; 
	display:block;
	transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
}
.links .close img{
	transform: rotate(-225deg);
}
.links .more{
	width: 60px;
	height: 180px;
	margin-top: 60px;
	display: block;
}
.links .more li{
	height:60px; 
	min-width:60px; 
	text-align:center; 
	display:block; 
	position:relative; 
	cursor:pointer;
}
.links li.phone{
	width: 60px;
	height: 60px;
	background: url(../img/p2.png) no-repeat center;
}
.links li.phone:hover{
	background: url(../img/p1.png) no-repeat center #c8c8c8;
}
.links .info{
	width: 165px;
	height: 84px;
	position:absolute; 
	right:60px; 
	top:0; 
	padding:15px 0; 
	background-color:#fff; 
	display: none;
	font-size: 16px;
}
.links .info2{
	height: 184px;
}
.links .info3{
	width: 220px;
}
.links .phone:hover .info1{
	display: block;
}
.links .wechat:hover .info2{
	display: block;
}
.links .mail:hover .info3{
	display: block;
}
.links li.wechat{
	width: 60px;
	height: 60px;
	background: url(../img/icon_wechat_d.png) no-repeat center;
}
.links .more li.wechat:hover{
	background: url(../img/icon_wechat.png) no-repeat center #c8c8c8;
}
.links .more li.mail{
	width: 60px;
	height: 60px;
	background: url(../img/icon_mail_d.png) no-repeat center;
}
.links .more li.mail:hover{
	background: url(../img/icon_mail.png) no-repeat center #c8c8c8;
}
