body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
ul,ol,li{
	list-style: none;
}
a{
	text-decoration:none;
}
img{
	border:none;
}
body{
	font-family: "微软雅黑";
	/*overflow: hidden; */ /*解决idx_story高度塌陷*/
}
/*header*/
.header{
	/*width: 1349px;*/
	height: 60px;
	display: flex;
}
.logo{
	width: 237px;
	height: 60px;
}
.logo a{
	padding-left: 71px;
	width: 120px;
}
.menu{
	width: 559px;
	height: 60px;
}
.menu a{
	float: left;
	width: 85px;
	height: 60px;
	font-size: 15px;
	color: #555555;
	text-align: center;
	line-height: 60px;
	text-decoration: none;
}
.menu .firstA{
	background-color: #e2001a;
	color: white; 
}
.menu a:hover{
	background-color: #e2001a;
	color: white;
	text-decoration: none;
}
.search{
	width: 267px;
	background-color: #eeeeee;
}
.search input{
	margin-top: 19px;
	padding-left: 8px;
	font-size: 15px;
	border: none;
	background-color: #eeeeee;
}
.search a{
	float: right;
}
.userLogout a{
	padding-left: 20px;
	display: block;
	width: 219px;
	text-align: center;
	line-height: 60px;
	color: #555555;
	font-size: 15px;
	text-decoration: none;
}
/*shop*/
#shop{
	width: 100%;
	height: 951px;
	background-image: url(../img/shopbg.jpg);
}
#shop .shoptit{
	font-size: 40px;
	color: #333333;
	text-align: center;
	line-height: 106px;
}
#shop .search{
	width: 1200px;
	height: 52px;
	margin: 0 auto;
	text-align: center;
	background-color: gray;
}

/*footer*/
.footer{
	height: 385px;
}
.footer .fnav{
	/*width: 1200px;*/
	height: 285px;
	margin: 0 auto;
	background-color: #c8c8c8;
}
.fnav .inner{
	width: 800px;
	height: 250px;
	margin: 0 auto;
}
.navs{
	width: 160px;
	height: 160px;
	float: left;
	line-height: 28px;
	padding-top: 26px;
}
.navs a{
	text-decoration: none;
	color: #555555;
}
.navs .title{
	color: #555555;
	font-weight: bold;
	font-size: 18px;
	line-height: 36px;
}
.service{
	float: left;
	padding-top: 20px;
}
.service .ttl{
	width: 117px;
	height: 33px;
	font-size: 16px;
	color: white;
	background-color: #e2001a;
	border-radius: 16px;
	text-align: center;
	padding: 4px;
}
.service .phone{
	color: #333333;
	font-weight: bold;
	line-height: 30px;
}
/*copyright*/
.copyright{
	height: 100px;
	background-color: #555555;
}
.copyright .inner{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
	position: relative;
}
.jzDiv{
	width: 627px;
	height: 80px;
	margin: auto;
	padding-top: 10px;
}
.copyright a{
	color: white;
	font-size: 12px;
	text-decoration: none;
}
.footH{
	text-align: center;
}
.icon a img{
	display: block;
	width: 30px;
	height: 40px;
	margin: 0 auto;
}